<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.wordgame">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".LogActivity"
            android:label="@string/title_activity_log"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".LevelThreeActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".LevelTwoActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".LevelOneActivity"
            android:configChanges="orientation|screenSize" />
        <activity android:name=".ChooseLevelActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>